## Mongo DB Cluster: Covid-19 Data Johns Hopkins Overview

Adapted from Workshop: https://github.com/geoffswc/MongoDB-Python-Workshop

This notebook will demo how to connect to remote client and work with mongoDB database.

### Modules

In [ ]:
#!pip install pymongo
#!pip install dnspython

In [1]:
import pymongo
from pymongo import MongoClient

### Connect to the MongoDB server

Connect to the published URL for the Johns Hopkins covid-19 dataset hosted on Atlas.

In [2]:
mongodb_url = "mongodb+srv://readonly:readonly@covid-19.hip2i.mongodb.net/covid19"
client = MongoClient(mongodb_url)

### List the databases and collections

Now that we have a connection to the server, we can

1. list the available databases
2. select a database
3. list the available collections within that database
4. select a collection to query

#### List the available databases

In [3]:
client.list_database_names()

['admin', 'config', 'covid19', 'local']

#### Select a database

In [4]:
covid19_db = client.get_database("covid19")

In [5]:
type(covid19_db)

pymongo.database.Database

#### List database collections

In [6]:
covid19_db.list_collection_names()

['metadata',
 'benford',
 'global_and_us',
 'system.views',
 'global',
 'us_only',
 'countries_summary',
 'benford_view',
 'benford_view_world']

#### Select Collection

In [9]:
countries_summary_cl = covid19_db['countries_summary']

In [10]:
countries_summary_cl

Collection(Database(MongoClient(host=['covid-19-shard-00-00.hip2i.mongodb.net:27017', 'covid-19-shard-00-02.hip2i.mongodb.net:27017', 'covid-19-shard-00-01.hip2i.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, authsource='admin', replicaset='covid-19-shard-0', ssl=True), 'covid19'), 'countries_summary')

### Queries

#### Single Record Query

To inspect just one record from the countries_summary collection, we can use the `find_one()` command.

In [12]:
countries_summary_cl.find_one()

{'_id': ObjectId('62af88c1f59d991d149f722f'),
 'uids': [4],
 'confirmed': 0,
 'deaths': 0,
 'country': 'Afghanistan',
 'date': datetime.datetime(2020, 1, 22, 0, 0),
 'country_iso2s': ['AF'],
 'country_iso3s': ['AFG'],
 'country_codes': [4],
 'combined_names': ['Afghanistan'],
 'population': 38928341,
 'recovered': 0,
 'confirmed_daily': 0,
 'deaths_daily': 0,
 'recovered_daily': 0}

#### Multiple Record Query

To find multiple records, you can use the `find()` command along with the limit() method

In [15]:
for r in countries_summary_cl.find().limit(5):
    print(r['country'], r['confirmed'])
    print(r)

Afghanistan 0
{'_id': ObjectId('62af88c1f59d991d149f722f'), 'uids': [4], 'confirmed': 0, 'deaths': 0, 'country': 'Afghanistan', 'date': datetime.datetime(2020, 1, 22, 0, 0), 'country_iso2s': ['AF'], 'country_iso3s': ['AFG'], 'country_codes': [4], 'combined_names': ['Afghanistan'], 'population': 38928341, 'recovered': 0, 'confirmed_daily': 0, 'deaths_daily': 0, 'recovered_daily': 0}
Afghanistan 0
{'_id': ObjectId('62af88c1f59d991d149f7230'), 'uids': [4], 'confirmed': 0, 'deaths': 0, 'country': 'Afghanistan', 'date': datetime.datetime(2020, 1, 23, 0, 0), 'country_iso2s': ['AF'], 'country_iso3s': ['AFG'], 'country_codes': [4], 'combined_names': ['Afghanistan'], 'population': 38928341, 'recovered': 0, 'confirmed_daily': 0, 'deaths_daily': 0, 'recovered_daily': 0}
Afghanistan 0
{'_id': ObjectId('62af88c1f59d991d149f7231'), 'uids': [4], 'confirmed': 0, 'deaths': 0, 'country': 'Afghanistan', 'date': datetime.datetime(2020, 1, 24, 0, 0), 'country_iso2s': ['AF'], 'country_iso3s': ['AFG'], 'country_codes': [4], 'combined_names': ['Afghanistan'], 'population': 38928341, 'recovered': 0, 'confirmed_daily': 0, 'deaths_daily': 0, 'recovered_daily': 0}
Afghanistan 0
{'_id': ObjectId('62af88c1f59d991d149f7232'), 'uids': [4], 'confirmed': 0, 'deaths': 0, 'country': 'Afghanistan', 'date': datetime.datetime(2020, 1, 25, 0, 0), 'country_iso2s': ['AF'], 'country_iso3s': ['AFG'], 'country_codes': [4], 'combined_names': ['Afghanistan'], 'population': 38928341, 'recovered': 0, 'confirmed_daily': 0, 'deaths_daily': 0, 'recovered_daily': 0}
Afghanistan 0
{'_id': ObjectId('62af88c1f59d991d149f7233'), 'uids': [4], 'confirmed': 0, 'deaths': 0, 'country': 'Afghanistan', 'date': datetime.datetime(2020, 1, 26, 0, 0), 'country_iso2s': ['AF'], 'country_iso3s': ['AFG'], 'country_codes': [4], 'combined_names': ['Afghanistan'], 'population': 38928341, 'recovered': 0, 'confirmed_daily': 0, 'deaths_daily': 0, 'recovered_daily': 0}

### Counting all documents in a collection

In [14]:
countries_summary_cl.count_documents({})

174921

### Projecting

The next two cells show examples of choosing which fields to display. By default, all values in the records returned from a query will display. To limit the number of them that are displayed, specify fields names.

Note that once you specify a field to return, only those fields you project will be included in the results. The exception is the "\_id" field, which will project by default unless you suppress it.

In [16]:
for r in countries_summary_cl.find({},{'country':1, 'confirmed': 1}).limit(10):
    print(r)

{'_id': ObjectId('62af88c1f59d991d149f722f'), 'confirmed': 0, 'country': 'Afghanistan'}
{'_id': ObjectId('62af88c1f59d991d149f7230'), 'confirmed': 0, 'country': 'Afghanistan'}
{'_id': ObjectId('62af88c1f59d991d149f7231'), 'confirmed': 0, 'country': 'Afghanistan'}
{'_id': ObjectId('62af88c1f59d991d149f7232'), 'confirmed': 0, 'country': 'Afghanistan'}
{'_id': ObjectId('62af88c1f59d991d149f7233'), 'confirmed': 0, 'country': 'Afghanistan'}
{'_id': ObjectId('62af88c1f59d991d149f7234'), 'confirmed': 0, 'country': 'Afghanistan'}
{'_id': ObjectId('62af88c1f59d991d149f7235'), 'confirmed': 0, 'country': 'Afghanistan'}
{'_id': ObjectId('62af88c1f59d991d149f7236'), 'confirmed': 0, 'country': 'Afghanistan'}
{'_id': ObjectId('62af88c1f59d991d149f7237'), 'confirmed': 0, 'country': 'Afghanistan'}
{'_id': ObjectId('62af88c1f59d991d149f7238'), 'confirmed': 0, 'country': 'Afghanistan'}

In [17]:
for r in countries_summary_cl.find({},{'_id': 0, 'country': 1, 'confirmed': 1}).limit(10):
    print(r)

{'confirmed': 0, 'country': 'Afghanistan'}
{'confirmed': 0, 'country': 'Afghanistan'}
{'confirmed': 0, 'country': 'Afghanistan'}
{'confirmed': 0, 'country': 'Afghanistan'}
{'confirmed': 0, 'country': 'Afghanistan'}
{'confirmed': 0, 'country': 'Afghanistan'}
{'confirmed': 0, 'country': 'Afghanistan'}
{'confirmed': 0, 'country': 'Afghanistan'}
{'confirmed': 0, 'country': 'Afghanistan'}
{'confirmed': 0, 'country': 'Afghanistan'}

### Filtering

The next cells will query based on a

1. single value
2. multiple values joined by AND
3. multiple values joined by OR
3. query based on date

#### Single Value Filter

In [18]:
for r in countries_summary_cl.find({'country': 'Ireland'}, {'country':1, 'confirmed': 1}).limit(5):
    print(r)

{'_id': ObjectId('62af88c3f59d991d14a095bf'), 'confirmed': 0, 'country': 'Ireland'}
{'_id': ObjectId('62af88c3f59d991d14a095c0'), 'confirmed': 0, 'country': 'Ireland'}
{'_id': ObjectId('62af88c3f59d991d14a095c1'), 'confirmed': 0, 'country': 'Ireland'}
{'_id': ObjectId('62af88c3f59d991d14a095c2'), 'confirmed': 0, 'country': 'Ireland'}
{'_id': ObjectId('62af88c3f59d991d14a095c3'), 'confirmed': 0, 'country': 'Ireland'}

#### Boolean OR query

In [20]:
for r in countries_summary_cl.find({ '$or' : [ { 'country' : 'Ireland' }, { 'country' : 'India' } ] }).limit(25):
    print(r['country'], r['confirmed'])

India 0
India 0
India 0
India 0
India 0
India 0
India 0
India 0
India 1
India 1
India 1
India 2
India 3
India 3
India 3
India 3
India 3
India 3
India 3
India 3
India 3
India 3
India 3
India 3
India 3

#### Using IN

In [21]:
for r in countries_summary_cl.find({'country': { '$in': [ "Ireland", "India" ] } }).limit(5):
    print(r)

{'_id': ObjectId('62af88c3f59d991d14a087df'), 'uids': [356], 'confirmed': 0, 'deaths': 0, 'country': 'India', 'date': datetime.datetime(2020, 1, 22, 0, 0), 'country_iso2s': ['IN'], 'country_iso3s': ['IND'], 'country_codes': [356], 'combined_names': ['India'], 'population': 1380004385, 'recovered': 0, 'confirmed_daily': 0, 'deaths_daily': 0, 'recovered_daily': 0}
{'_id': ObjectId('62af88c3f59d991d14a087e0'), 'uids': [356], 'confirmed': 0, 'deaths': 0, 'country': 'India', 'date': datetime.datetime(2020, 1, 23, 0, 0), 'country_iso2s': ['IN'], 'country_iso3s': ['IND'], 'country_codes': [356], 'combined_names': ['India'], 'population': 1380004385, 'recovered': 0, 'confirmed_daily': 0, 'deaths_daily': 0, 'recovered_daily': 0}
{'_id': ObjectId('62af88c3f59d991d14a087e1'), 'uids': [356], 'confirmed': 0, 'deaths': 0, 'country': 'India', 'date': datetime.datetime(2020, 1, 24, 0, 0), 'country_iso2s': ['IN'], 'country_iso3s': ['IND'], 'country_codes': [356], 'combined_names': ['India'], 'population': 1380004385, 'recovered': 0, 'confirmed_daily': 0, 'deaths_daily': 0, 'recovered_daily': 0}
{'_id': ObjectId('62af88c3f59d991d14a087e2'), 'uids': [356], 'confirmed': 0, 'deaths': 0, 'country': 'India', 'date': datetime.datetime(2020, 1, 25, 0, 0), 'country_iso2s': ['IN'], 'country_iso3s': ['IND'], 'country_codes': [356], 'combined_names': ['India'], 'population': 1380004385, 'recovered': 0, 'confirmed_daily': 0, 'deaths_daily': 0, 'recovered_daily': 0}
{'_id': ObjectId('62af88c3f59d991d14a087e3'), 'uids': [356], 'confirmed': 0, 'deaths': 0, 'country': 'India', 'date': datetime.datetime(2020, 1, 26, 0, 0), 'country_iso2s': ['IN'], 'country_iso3s': ['IND'], 'country_codes': [356], 'combined_names': ['India'], 'population': 1380004385, 'recovered': 0, 'confirmed_daily': 0, 'deaths_daily': 0, 'recovered_daily': 0}

#### Using AND

In [22]:
# this is analagous to the query in Compass: 
# { "date": new Date('2020-01-22')}
# and
# { '$and' : [{ 'country' : 'Ireland' }, { "date": new Date('2020-01-22')} ] }

import datetime

for r in countries_summary_cl.find({ '$and' : [ 
        { 'country' : 'Ireland' }, 
        { 'date' : datetime.datetime(2020, 1, 23, 0, 0) } ] }):
    print(r)

{'_id': ObjectId('62af88c3f59d991d14a095c0'), 'uids': [372], 'confirmed': 0, 'deaths': 0, 'country': 'Ireland', 'date': datetime.datetime(2020, 1, 23, 0, 0), 'country_iso2s': ['IE'], 'country_iso3s': ['IRL'], 'country_codes': [372], 'combined_names': ['Ireland'], 'population': 4937796, 'recovered': 0, 'confirmed_daily': 0, 'deaths_daily': 0, 'recovered_daily': 0}

### Distinct Values

In [29]:
countries_summary_cl.distinct("country")[:5]

['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola']

### Regular Expressions

To partially match text, you can use a regular expression. Note that this is a computationally expensive operation and may be too slow to be effective on large text fields in large collections.

For more information: https://docs.mongodb.com/manual/reference/operator/query/regex/

In [40]:
for r in countries_summary_cl.find({'country':{ '$regex': 'land$' } }).limit(2):
    print(r)

{'_id': ObjectId('62af88c2f59d991d14a0490a'), 'uids': [246], 'confirmed': 0, 'deaths': 0, 'country': 'Finland', 'date': datetime.datetime(2020, 1, 22, 0, 0), 'country_iso2s': ['FI'], 'country_iso3s': ['FIN'], 'country_codes': [246], 'combined_names': ['Finland'], 'population': 5540718, 'recovered': 0, 'confirmed_daily': 0, 'deaths_daily': 0, 'recovered_daily': 0}
{'_id': ObjectId('62af88c2f59d991d14a0490b'), 'uids': [246], 'confirmed': 0, 'deaths': 0, 'country': 'Finland', 'date': datetime.datetime(2020, 1, 23, 0, 0), 'country_iso2s': ['FI'], 'country_iso3s': ['FIN'], 'country_codes': [246], 'combined_names': ['Finland'], 'population': 5540718, 'recovered': 0, 'confirmed_daily': 0, 'deaths_daily': 0, 'recovered_daily': 0}

You can compile a regular expression with python `re` module

In [35]:
import re
regx = re.compile("ireland", re.IGNORECASE)
for r in countries_summary_cl.find({'country': { '$regex': regx } }).limit(1):
    print(r)

{'_id': ObjectId('62af88c3f59d991d14a095bf'), 'uids': [372], 'confirmed': 0, 'deaths': 0, 'country': 'Ireland', 'date': datetime.datetime(2020, 1, 22, 0, 0), 'country_iso2s': ['IE'], 'country_iso3s': ['IRL'], 'country_codes': [372], 'combined_names': ['Ireland'], 'population': 4937796, 'recovered': 0, 'confirmed_daily': 0, 'deaths_daily': 0, 'recovered_daily': 0}

### Aggregations

Count: https://docs.mongodb.com/manual/reference/operator/aggregation/count/
        
Sum: https://docs.mongodb.com/manual/reference/operator/aggregation/sum/

In [41]:
global_and_us_cln = covid19_db['global_and_us']

In [59]:
for agg in global_and_us_cln.aggregate([
    {'$group':{'_id':'$country','count':{'$sum': 1}}},
    {'$limit' : 5 }
]):
    print(agg)

{'_id': 'Burma', 'count': 879}
{'_id': 'Seychelles', 'count': 879}
{'_id': 'Antigua and Barbuda', 'count': 879}
{'_id': 'Marshall Islands', 'count': 879}
{'_id': 'Kiribati', 'count': 879}

#### Sorting

To sort in an aggregation pipeline, use the $sort operator. This query will count the number of documents for each country in the collection, sorted in descending order of count, then in ascending order by ID in case of a tie. 

https://docs.mongodb.com/manual/reference/operator/aggregation/sort/

In [58]:
for agg in global_and_us_cln.aggregate([
        {'$group':{'_id':'$country','count':{'$sum': 1}}},
        {'$sort' : { 'count' : -1, '_id': 1 } },
        {'$limit' : 5 }
    ]):
    print(agg)

{'_id': 'US', 'count': 2938497}
{'_id': 'China', 'count': 29886}
{'_id': 'Canada', 'count': 14943}
{'_id': 'United Kingdom', 'count': 12306}
{'_id': 'France', 'count': 10548}

### Sorting

To sort results by a field value, you use the $orderby operator. This query will return results sorted first by date, then by country. To reverse the ordering, use -1. 

https://docs.mongodb.com/manual/reference/operator/meta/orderby/

Note that this has been replaced by .sort() at the mongo shell

In [49]:
for r in global_and_us_cln.find( {'$query': {}, '$orderby': { 'date' : 1 , 'country': 1} }).limit(5):
    print(r['date'], r['country'])

2020-01-22 00:00:00 Afghanistan
2020-01-22 00:00:00 Albania
2020-01-22 00:00:00 Algeria
2020-01-22 00:00:00 Andorra
2020-01-22 00:00:00 Angola

#### Aggregations across several records

In [57]:
for agg in global_and_us_cln.aggregate([
        {'$group':{'_id':'$country','recovered':{'$sum': '$recovered'}}},{'$limit' : 5 }
    ]):
    print(agg)

{'_id': 'Bahrain', 'recovered': 48612087}
{'_id': 'France', 'recovered': 96506536}
{'_id': 'Mozambique', 'recovered': 13140950}
{'_id': 'Tajikistan', 'recovered': 4615407}
{'_id': 'Benin', 'recovered': 1723986}

### Pandas dataframes

You may at some point want to convert your results to pandas dataframes. 

Pandas provides a relatively straighforward method to convert mongodb results (as well as other types of JSON or dictionary-based data) into a dataframe. However, keep in mind that you may be cramming a nested, tree-like structure into a tabular data format.

In [69]:
import pandas as pd

In [70]:
df = pd.DataFrame.from_records(global_and_us_cln.find({'country': 'Ireland'}))

The results of this query show how nested data such as dictionaries or lists gets placed into columns. This may or may not be a problem for you, though ther esult it is not a normalized table and may not be amenable to SQL or pandas operations that would work on fields in first normal form (i.e., with single, indivisible values).

In [71]:
df.head()

,_id,uid,country_iso2,country_iso3,country_code,country,combined_name,population,loc,date,confirmed,deaths,recovered,confirmed_daily,deaths_daily,recovered_daily
0,62af814c2c3fd46394cc19fe,372,IE,IRL,372,Ireland,Ireland,4937796,"{'type': 'Point', 'coordinates': [-7.6921, 53....",2020-01-22,0,0,0,0,0,0
1,62af814c2c3fd46394cc19ff,372,IE,IRL,372,Ireland,Ireland,4937796,"{'type': 'Point', 'coordinates': [-7.6921, 53....",2020-01-23,0,0,0,0,0,0
2,62af814c2c3fd46394cc1a00,372,IE,IRL,372,Ireland,Ireland,4937796,"{'type': 'Point', 'coordinates': [-7.6921, 53....",2020-01-24,0,0,0,0,0,0
3,62af814c2c3fd46394cc1a01,372,IE,IRL,372,Ireland,Ireland,4937796,"{'type': 'Point', 'coordinates': [-7.6921, 53....",2020-01-25,0,0,0,0,0,0
4,62af814c2c3fd46394cc1a02,372,IE,IRL,372,Ireland,Ireland,4937796,"{'type': 'Point', 'coordinates': [-7.6921, 53....",2020-01-26,0,0,0,0,0,0

For example, the "loc" column contains a dictionary with two keys, 'type' and 'Point' - where 'Point' maps to a list of coordinates

In [72]:
df.iloc[0]['loc']

{'type': 'Point', 'coordinates': [-7.6921, 53.1424]}